.detail-admin {
    &-img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: 0 auto;
    }
    &-table {
        width: 100%;
        th {
            width: 50%;
        }
    }
    &-row {
        width: 100%;
        height: 70px;
    }
}

.container {
    background: #fff;
    width: 100%;
    padding: 1rem;
}

.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #374151;
    padding-bottom: 11px;
    border-bottom: 1px solid #d7dbdf;
}

.form-group {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.textarea-group label,
.form-group label {
    color: #374151;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
}

.form-group [type],
.textarea-group textarea {
    border: 1px solid #d2d6db;
    border-radius: 6px;
    padding: 15px;
}
.form-group [type]:hover,
.textarea-group textarea:hover {
    border-color: #a8afb9;
}
.form-group [type]:focus,
.textarea-group textarea:focus {
    border-color: #5850eb;
}

.textarea-group {
    margin-top: 24px;
}

.textarea-group textarea {
    resize: none;
    width: 100%;
    margin-top: 40px;
    height: calc(100% - 59px);
}

.button {
    font-weight: bold;
    line-height: 19px;
    background: #5850eb;
    border: none;
    padding: 15px 25px;
    border-radius: 6px;
    color: white;
    width: 100%;
    margin-top: 24px;
}
.button:hover {
    background: #6e67ee;
}
.button:focus {
    background: #4239e8;
}
.form-role {
    padding: 15px;
    &:focus {
        box-shadow: none !important;
        border-color: #5850eb !important;
    }
}

@media screen and (min-width: 768px) {
    body {
        align-items: center;
        justify-content: center;
    }

    .container {
        margin: 2rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        max-width: 32rem;
        padding: 2rem;
    }
    .form-role {
        padding: 15px;
    }
}
@media screen and (min-width: 1024px) {
    .container {
        max-width: 80%;
        width: 100%;
    }

    .checkboxes {
        display: flex;
    }
    .checkboxes > :not(:first-child) {
        margin-left: 1rem;
    }

    .grid {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
    }

    .email-group {
        grid-column: 1;
        grid-row: 2;
    }

    .email-group {
        grid-column: 1;
        grid-row: 2;
    }

    .phone-group {
        grid-column: 2;
        grid-row: 2;
    }
    .textarea-group {
        grid-column: 3;
        grid-row: span 2;
        margin-right: 2rem;
    }

    .button-container {
        text-align: right;
    }

    .button {
        width: auto;
    }
}
