// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//custom
$primary-font: "SVN-Gilroy", sans-serif;
$secondary-font: "Noto Sans JP", sans-serif;

$black-color: #000000;
$black-light-color: #212121;
$text-color: #211e3b;
$title-color: #212121;
$red-color: #c40000;
$white-color: #ffffff;
$blue-color: #007bff;
